body {
  margin: 0;
  padding: 0;
}
.clockWrapper {
  width: 100vw;
  background-color: #1c1c1c;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.clock {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  width: 500px;
  height: 500px;
  background-position: center center;
  background-clip: content-box;
  background: url(../src/clock.jpg);
  background-size: cover;
}
.clockPoint {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: #1c1c1c;
}

.linesWrapper {
  position: absolute;
  height: 1px;
  background-color: transparent;
  display: flex;
  justify-content: center;
}

.secondsLine {
  width: 3px;
  height: 200px;
  background-color: #000;
}

.minutesLine {
  width: 4px;
  height: 150px;
  background-color: #000;
}

.hoursLine {
  width: 5px;
  height: 100px;
  background-color: #000;
}
